body {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	background:#efefef
}
body {
}
label {
	display: block;
	float: left
}
.hdBtn:hover{background:rgba(255,255,255,0.5)}
.hdBtn {
background: rgba(255,255,255,0.3);
padding: 7px;
position: absolute;
right: 8px;
font-size: 14px;
border-radius: 5px;
top: 8px;
cursor:pointer
}
.userTop{background: rgba(0,0,0,0.6);
    overflow: hidden;
    padding: 5px 0;
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;}
.closeBtn{
    color: #fff;
    float: right;
    padding: 10px;
    margin-right: 0;
    margin-top: -4px;
}
.weui_cell:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	border-top: 1px solid #ECECEC;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	left: 15px;
}
.weui_cells_access .weui_cell_ft:after{
  -webkit-transition: all .25s linear 0.05s;
	-moz-transition: all .25s linear 0.05s;
	-o-transition: all .25s linear 0.05s;
	transition: all .25s linear 0.05s;
}
.weui_cells_access .weui_cell_ft.sel:after {
	-webkit-transition: all .25s linear 0.05s;
	-moz-transition: all .25s linear 0.05s;
	-o-transition: all .25s linear 0.05s;
	transition: all .25s linear 0.05s;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.hd {
	padding: 1.4em 0;
	overflow: hidden;
}
.liucheng{
    font-size: 0;
		padding: 0 30px;
}
.liucheng .sel span{background: #f37872;}
.liucheng .sel h3{color: #f37872;}
.liucheng .sel .jindu{background: #f37872;}
.liucheng span{display:inline-block;background: #BDBDBD; color:#fff;width: 22px;height: 22px;position: absolute;text-align: center;font-size: 14px;border-radius: 50%;margin-left: -12px;line-height: 22px;}
.liucheng div:first-child span{ margin-left:0 }
.liucheng div:last-child span{ margin-left: -22px;}
.liucheng > div{position:relative;display: inline-block;width: 33.3%;text-align: center;height: 46px;box-sizing: border-box;overflow: hidden;}
.liucheng h3{
    font-size: 13px;
    margin-bottom: 5px;
		color:#999;
}
.liucheng .jindu{height: 4px;margin-top: 15px;background: #BDBDBD;}
.liucheng div:first-child{ text-align:left;box-sizing: border-box;}
.liucheng div:last-child{ text-align:right}
.proList{
    font-size: 0;
}
.proList a{
    display: block;
}
.proList img{
    width: 100%;
}
.proList p{
    font-size: 12px;
    line-height: 18px;
}
.proList li{
    display: inline-block;
    width: 50%;
    overflow: hidden;
    border-bottom: 1px #F0F0F0 solid;
    background: #fff;
    border-right: 1px #F0F0F0 solid;
    box-sizing: border-box;
    padding: 10px;
}
.proList li:nth-child(2n){
    border-right: 1px #fff solid;
	}
.proList li .title{
    line-height: 19px;
    font-size: 12px;
    height: 41px;
    overflow: hidden;
    font-weight: normal;
    border-bottom: 1px #F0F0F0 solid;
}
.gz {
	background: url(images/linebac1.png) repeat-y 12px 0;
	margin: 0 25px;
	float: left;
	height: 90px;
	position: relative;
}
.gz:nth-last-child(2) {
	background-repeat: repeat-y;
}
.gz:last-child {
	background-repeat: no-repeat!important;
}
.gz span {
	background: #fff;
	font-size: 13px;
	border: 1px #999 solid;
	color: #999;
	border-radius: 50%;
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
}
.gz.ok span {
	border: 1px #3C8BC7 solid;
	background: #55acef;
	color: #FFF;
}
.gz .xx {
	height: 13px;
	position: absolute;
	display: none;
	left: 50%;
	margin-left: 6px;
}
.gz.ok .xx {
	display: block;
}
.gz:last-child .xx {
	display: none
}
.gz .xx i {
	display: inline;
	overflow: hidden;
}
.gz .xx i:before {
	border-color: #E4E4E4 transparent transparent transparent;
	border-width: 13px;
	content: "";
	display: inline-block;
	width: 1px;
	border-style: solid;
}
.gz.ok .xx i:before {
	border-color: #55acef transparent transparent transparent;
}
.gz.ok {
	background: url(images/linebac2.png) repeat-y 12px 0;
}
.gz.ok:last-child {
	height: 90px;
}
.gz.ok .weui_btn:after {
	border: 2px #3C8BC7 solid
}
.page.button .page_title, .page.cell .page_title {
	color: #225FBA;
}
.page_title {
	text-align: center;
	font-size: 34px;
	color: #FFFFFF;
	font-weight: 400;
	margin: 0 15%;
}
.button_sp_area {
	padding: 10px 0;
	width: 100%;
	margin: 0 auto;
	text-align: justify;
	text-justify: distribute-all-lines;
	font-size: 0;
}
.button_sp_area:after {
	display: inline-block;
	width: 100%;
	height: 0;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	content: ".";
}
.logo {
  display: inline-block;
  padding: 2px;
  border: 1px #ccc solid;
  background: #fff;
  font-size: 0;
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.logo img {
	width: 70px;
}
.abtnBig {
	width: 85px;
	height: 85px;
	display: inline-block;
	background: #F7F7F7;
	font-size: 12px;
	margin: 4px 2px 0 2px;
	color: #fff;
}
.abtnBig:hover {
	background: hsl(140, 50%, 50%)!important;
}
.redBtn{
	background:#F00;
	padding:2px 5px;
	color:#fff;
	border-radius:5px;}
.yellowBtn{
	background:#FC0;
	padding:2px 5px;
	color:#fff;
	border-radius:5px;}
.inb {
	text-align: center;
	position: relative;
	overflow: hidden;
}
.inb img {
	width: 100%;
}
.bcbl {
	background: #55acef
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
}
select {
	border-radius: 3px;
	padding: 0 22px 0 0;
	background: #fff;
	font-size: 13px;
	border: 1px #ABADB3 solid;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	position: relative;
	height: 32px;
}
.iradio {
	display: inline-block;
	width: 50px;
	height: 26px;
	border-radius: 20px;
	border: 1px solid #ccc;
	background-color: #eee;
	position: relative;
	vertical-align: middle;
}
.iradio::before {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, .35);
	border-radius: 20px;
	transition: all .1s linear 0.05s;
}
.inputSel {
	background-color: #55acef;
	transition: all .1s linear 0.05s;
}
.inputSel::before {
	left: 24px;
}
.icon {
	margin-right: 5px;
}
.iconTel:before {
	content: "\e627";
}
.iconAdd:before {
	content: "\e628";
}
.weixin:before {
	content: "\e61f";
}
.back:before {
	content: "\e61c";
}
.menu:before {
	content: "\e611";
}
.order:before {
	content: "\e616";
}
.crown:before {
	content: "\e61e";
}
.profile:before {
	content: "\e611";
}
.menu {
}
.menu.active:before {
	content: "\e60e"
}
.lRight {
	display: inline-block;
	height: 32px;
	float: left;
	line-height: 32px;
}
.lRight:before {
	content: "\e625";
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}
.MRight:before {
	content: "\e60e";
}
.personImg {
	width: 97px;
	height: 97px;
	border-radius: 50%;
	border: 1px #ccc solid;
	padding: 2px;
}
.shopCart:before {
	content: "\e60f"
}
.shopHome:before {
	content: "\e600"
}
.delPro:before {
	content: "\e60e"
}
.movTop:before {
	content: "\e612";
}
.erwmico:before {
	content: "\e624";
}
.nav1Ico0, .nav1Ico1, .nav1Ico2, .nav1Ico3, .nav1Ico4, .nav1Ico5, .nav1Ico6 {
	display: block;
	font-size: 29px;
	font-weight: normal;
	margin-bottom: 2px;
	margin-top: 18px;
}
.nav1Ico0:before {
	content: "\e604";
}
.nav1Ico1:before {
	content: "\e608";
}
.nav1Ico2:before {
	content: "\e609";
}
.nav1Ico3:before {
	content: "\e601";
}
.nav1Ico4:before {
	content: "\e60a";
}
.nav1Ico5:before {
	content: "\e606";
}
.nav1Ico6:before {
	content: "\e617";
}
.Ico4:before {
	/*ÃƒÂ¥Ã‚ÂÃ‚Â¥ÃƒÂ¥Ã‚ÂºÃ‚Â·ÃƒÂ©Ã‚Â£Ã…Â¸ÃƒÂ¥"Ã‚Â*/
	content: "\e604";
}
.Ico5:before {
	/*ÃƒÂ¥Ã‚ÂÃ‚Â¬ÃƒÂ¨Ã‚Â¯Ã…Â ÃƒÂ¥Ã¢"Â¢Ã‚Â¨*/
	content: "\e606";
}
.Ico6:before {
	/*ÃƒÂ¥Ã…'Ã‚Â»ÃƒÂ¨Ã‚ÂÃ‚Â¯ÃƒÂ§Ã‚Â®Ã‚Â±*/
	content: "\e603";
}
.Ico3:before {
	/*ÃƒÂ¤Ã‚Â¼Ã…Â¡ÃƒÂ¥'Ã‹Å"*/
	content: "\e614";
}
.navItem {
    text-align: right;
}
.navItem .sel {
	color: #ECF576;
}
.navItem a {
	margin: 8px 0;
	display: inline-block;
	width: 58px;
	color: #FFFFFF;
	text-align: center;
}
.navItem a i{
    font-size: 26px;
}
.navItem a span{
    font-size: 9pt;
    display: block;
    margin-top: 4px;
}
.navItem a .weui_icon_success_no_circle:before {
	font-size: 12px;
	color: #FDFDFD;
	margin-right: 2px;
}
.tab {
	position: absolute;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	text-align: center;
}
.tab:after {
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}
.tab img {
	vertical-align: middle;
}
.tab-inner {
	height: 256px;
	position: relative;
	overflow: hidden;
}
ul {
	padding-left: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}
li > a {
	display: block;
	line-height: 28px;
	padding-left: .5em;
	/* margin-top: -1px; */
	/* border-top: 1px solid #ccc; */
	/* border-bottom: 1px solid #ccc; */
	/* box-shadow: inset 0 1px #fbfbfb; */
	/* background-color: #eee; */
	position: relative;
}
a:not(.follow) > .mask {
	left: 0;
	top: 0;
}
.follow {
	color: #34538b;

}
.follow > .mask {
	display: inline;
	width: 32px;
	height: 32px;
	background-color: transparent;
}
.header, .footer {
	position: fixed;
	left: 0;
	right: 0;
}
.infooter {
	background-color: #fff!important;
	height: 26px!important;
	line-height: 26px!important;
	color: #8B8B8B;
	border-top: 1px #E0E0E0 solid!important;
	font-size: 12px;
}
.header {
	height: 45px;
	top: 0;
	background-color: #55acef;
	color: #fff;
	z-index: 99999;
	border-bottom: 1px #1875B3 solid;
}
.header > h1 {
	margin: 0;
	line-height: 45px;
	font-size: 16px;
	text-align: center;
}
.header > a.back, a.menu, a.shopCart , a.shopHome {
	position: absolute;
	padding: 10px;
	font-size: 23px;
	width: 25px;
}
a.menu .f12 {
	top: -3px;
	position: relative;
}
a.back, a.menu {
/*border-right: 1px #1875B3 solid;
box-shadow: 0px 0px 0px #fff, 0px 0px 0px #79D4FC, 1px 0px 0px #79D4FC, 0px 0px 0px #FFF;*/
}
a.shopCart {
/*border-left: 1px #1875B3 solid;
box-shadow: 0px 0px 0px #fff, -1px 0px 0px #79D4FC, 0px 0px 0px #FFF, 0px 0px 0px #fff;*/
}
.footer {
	height: 46px;
	bottom: 0;
	z-index: 1;
	border-top: 1px #DDDCDC solid;
	background:#fff
}
.footer > h4 {
	float: left;
	width: 25%;
	margin: 0;
	text-align: center;
}
.footer a {
	text-align: center;
	display: block;
	-webkit-transition: color .35s;
	transition: color .35s;
	color: #6B6B6B;
	font-size:12px;
	padding-top:4px;
}
.footer a.active {
	color: #2C566C;
    
	background: #E4E4E4;
}
.content {
	margin-top: 46px;
	padding-bottom: 47px;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}
.nav {
	position: fixed;
	height: 100%;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	left: -100%;
	-webkit-transition: all .25s linear 0.05s;
	-moz-transition: all .25s linear 0.05s;
	-o-transition: all .25s linear 0.05s;
	transition: all .25s linear 0.05s;
}
.nav.sel {
	left: 0;
}
.nav ul {
	margin: 0;
}
.nav ul li {
}
.nav li a {
}
.nav li a:hover {
	background: #036
}
#container {
	padding: 0;
}
.list {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-animation: .35s ease-in-out forwards;
	animation: .35s ease-in-out forwards;
}
.list.out {
	display: none;
}
.address {
	padding: 10px;
	overflow: hidden;
}
.address span {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	float: left;
}
.shopCartLabel {
	background: rgba(0,0,0,0.3);
	width: 18px;
	height: 18px;
	display: block;
	font-size: 12px;
	position: absolute;
	top: 5px;
	right: 3px;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
	font-family: aril;
	color: #fff;
}
.bd1 {
	border: 1px #Ccc solid;
	box-sizing: border-box;
}
.line {
	width: 100%;
	border-bottom: 1px #EBEBEB dotted;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.grayBac {
	background: #FFFFFF;
	border-radius: 5px 5px 0 0;
	border-top: 1px #E0E0E0 solid;
	border-left: 1px #E0E0E0 solid;
	border-right: 1px #E0E0E0 solid;
}
.add, .min {
	position: relative;
	border: 1px #ccc solid;
	text-align: center;
	width: 31px;
	height: 31px;
	display: inline-block;
	font-style: normal;
	cursor: pointer;
	background: #f8f8f8;
	font-family: "iconfont" !important;
	font-weight: bold;
	font-size: 17px;
	line-height: 31px;
	color: #999;
}
.add:before {
	line-height: 25px;
	content: "\e61f"
}
.min:before {
	line-height: 25px;
	content: "\e620"
}
.addshopCart {
	display: inline-block;
	height: 33px;
	background: #55acef;
	vertical-align: top;
	margin-left: 5px;
	font-size: 18px;
	line-height: 33px;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding:0 15px
}
.addshopCart.grayBtn {
}
.xiazaipdf {
	font-size: 27px;
}
.xiazaipdf:before {
	content: "\e626";
	float: left;
}
.xiazaipdf span {
	vertical-align: middle;
	display: inline-block;
	margin-bottom: -7px;
	font-weight: bold;
	margin-left: 5px;
}
.delPro_abtn {
	/* border-radius: 50%; */
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: block;
	text-align: center;
	font-size: 18px;
	margin: 10px auto;
	border: #bdbdbd 1px solid;
	cursor: pointer
}
.delPro_abtn:hover {
	border: 1px #55acef solid;
	color: #55acef;
}
.proTools {
}
.pro input[type='text'] {
	width: 50px;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	border-left: none;
	border-right: none;
	margin: 0 -4px;
	padding: 0;
	background: #FFFFFF;
	vertical-align: top;
	font-size: 14px
}
.proViwall {
	margin-bottom: 5px;
	height: 32px;
	text-align: center;
	background: #fff;
}
#view_all img {
	width: 100%;
}
.proViwall a {
	display: inline-block;
	padding: 8px 20px;
}
.proViwall .active {
	border-bottom: 2px #55acef solid;
}
.newsList {
	font-size: 13px;
	line-height: 20px;
}
.newsList li {
	padding: 10px;
	background: #fff;
	clear:both;
	border-bottom: 1px #ccc dotted;
}
.newsList li:last-child {
	margin-bottom: 5px;
}
.newsList .title {
  padding: 0;
  line-height: 18px;
  font-size: 13px;
  border-bottom: 1px #ccc dotted;
  padding-bottom: 2px;
  margin-bottom: 2px;
  width: 100%;
  display: block;
  position: relative;
}
.newsList .title2 {
	position: relative;
	font-size: 16px;
	margin-bottom: 3px;
	padding-bottom: 3px;
	border-bottom: 1px #ccc dotted;
}
.newsList .tit {
	font-size: 14px;
	border-bottom: 1px #C4C4C4 dotted;
	padding-bottom: 5px;
	margin-bottom: 5px;
	position: relative
}
.newsList .tit2 {
  font-size: 12px;
  padding-top: 5px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  background: #E9F1F9;
  margin-left: -10px;
  padding-left: 15px;
  margin-right: -10px;
  margin-bottom: -9px;
}
.newsList.xiangmu, .newsList.dingdan {
	padding: 10px;
	background: #FFF;
	margin-bottom: 10px;
	border-top: 1px #ccc solid;
	box-shadow: 0px 1px 3px #909090;
}
.newsList.dingdan:first-child{
	border-top: none;}
.newsList.xiangmu .title2 {
}
.newsList.dingdan .title2 {
}
.newsList .newsListImg{
	padding: 0;
  display: block;
  float: left;}
.newsList .newsListImg img{
  width: 95px;
  height: 80px;
}
.docList {
	padding: 0!important;
	line-height: 18px;
	display: block;
	overflow: hidden;
}
.docList:hover {
	background: #E7FAFE
}
.meetingList li {
	padding: 15px;
	background: #fff;
	margin: 5px 0;
}
.title {
    font-size: 14px;
    margin: 0 0 5px 0;
		position: relative;
}
.proTitle{
    padding: 10px;
    background: #55acef;
    margin-bottom: 0;
    border-bottom: 1px #F0F0F0 solid;
    font-size: 12px;
		color:#fff
}
.title2 {
    font-size: 16px;
    margin: 0 0 5px 0;
		position: relative;
		text-align:center
;
}
.title2 span{
	background:#FFF;
	padding:0 10px;
	position: relative;
	z-index: 1;
}
.title2:after{
	content:"";
	font-size:0;
	height: 1px;
	position:absolute;
	top: 50%;
	left: 0;
	width: 100%;
	background: #C0C0C0;
}
.userImg {
	padding: 0;
	display: block;
	float: left;
}
.userImg img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: 1px #E4E4E4 solid;
	margin-top: 3px;
}
.userList {
	overflow: hidden;
	padding: 15px;
	text-align: center;
	font-size: 0;
}
.userList li {
	width: 33.3333%;
	text-align: center;
	border: 1px #DDD dotted;
	display: inline-block;
	box-sizing: border-box;
	margin-left: -1px;
	margin-bottom: -1px;
}
.userList li a {
	overflow: hidden;
	padding-left: 0;
	padding: 10px 0;
}
.userList li p {
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 16px;
}
.useImg {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px #ccc solid;
}
.useImg p {
	text-align: center
}
.useImg img{width: 100px;}

.newsList .date {
	color: #A5A5A5;
}
.itemList {
	background: #fff;
	font-size: 0;
	overflow: hidden;
}


.itemList ul:first-child li {
	line-height: 18px;
}
.itemList ul {
	clear: both
}
.itemList li.active {
	background: #55acef;
}
.itemList li.active a {
	color: #fff
}
.itemList li.sel {
	background: #50CA31;
	color: #fff
}
.itemList li.sel a {
	color: rgba(255, 255, 255, 0)!important;
}
.itemList li.sel:before {
	content: "\e615";
	font-family: "iconfont" !important;
	font-size: 25px;
	position: absolute;
	left: 50%;
	color: #FAFA52;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	margin-left: -17px;
	line-height: 28px;
	top: 3px;
	font-weight: bold;
}
.itemList li {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  margin-left: -1px;
  border-bottom: 1px #EEE solid;
  margin-top: -1px;
  padding: 5px 0;
  border-right: 1px #EEE solid;
  position: relative;
  box-sizing: border-box;
  line-height: 28px;
}
.itemList li:nth-child(3n){
	border-right:none}
.itemList li a {
	display: block;
	padding-left: 0;
	color: #797979;
}
.more {
	right: 0;
	position: absolute;
	font-weight: normal;
}
.tab1 {
	width: 100%;
	border-collapse: collapse;
}
.tab1 th {
	background: #F0FCFB;
	padding: 6px;
	vertical-align: middle;
	color: #616161;
	border: 1px #CAC3C3 dotted;
}
.tab1 td {
	text-align: center;
	padding: 6px;
	vertical-align: middle;
	color: #888;
	border: 1px #CAC3C3 dotted;
	background: #fff
}
/*pro*/

.pro2, .pro1 {
	background: #fff;
}
.pro2 .probox {
	border-top: 2px #DBDBDB dotted;
	border-bottom: 2px #DBDBDB dotted;
	margin-bottom: 15px;
	padding: 10px;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.pro2 .probox:first-child {
	border-top: 0;
}
.pro2 .proL {
	width: 100%;
	padding: 0
}
.pro1 .proL {
	width: 75px;
	height: 100%;
}
.pro2 img {
	width: 100% !important;
}
.pro2 h2, .pro1 h2 {
	font-size: 16px;
	margin-bottom: 5px!important;
}
.bd2 {
	border-top: 1px #E0E0E0 solid;
	border-bottom: 1px #E0E0E0 solid;
	box-sizing: border-box;
	position: relative;
	border-left: 1px #E0E0E0 solid;
	border-right: 1px #E0E0E0 solid;
}
.pro {
	font-size: 14px;
	padding-left: 6px;
	line-height: 22px;
	overflow: hidden;
	padding-top: 7px;
}
.pro .inline_two {
	background: #fff;
	position: relative;
}
.proImg {
	height: 130px;
	width: 130px;
	overflow: hidden;
	padding: 5px;
	text-align: center;
	border: 1px #CCC solid;
	background: white;
	line-height: 130px;
}
.proImg img {
	height: 120px;
	max-width: 120px;
	vertical-align: middle
}
.pro inline_box a {
}
.pro h2, .pro h3 {
	font-size: 14px;
	padding: 0 10px;
	overflow: hidden;
}
.pro h2 {
	height: 48px;
}
.pro h2 span, .pro h3 span {
	margin-left: 5px;
	color: #c51230
}
.pro .price {
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
}
.proL {
	padding: 10px;
}
.proR {
	padding: 10px;
}
.proR h2 {
	padding: 0;
	margin-bottom: 10px;
	height: auto
}
.proR h2 span {
	color: #E60000;
}
.proR .price {
	text-align: left;
	padding: 0;
}
/*ÃƒÂ¨Ã‚Â½Ã‚Â®ÃƒÂ¦Ã‹Å"Ã‚Â¾ÃƒÂ¥Ã¢â‚¬ÂºÃ‚Â¾ÃƒÂ§Ã¢â‚¬Â°Ã¢â‚¬Â¡*/

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > figure {
	float: left;
	width: 100%;
	position: relative;
}
#slider {
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
#slider figure {
	display: block;
}
#slider figure div.wrap {
	display: block;
	position: relative;
}
#slider figure div a {
	display: block;
	height: inherit;
}
#scrollUp {
	right: 0;
	bottom: 46px;
	width: 30px;
	height: 30px;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
	border-radius: 5px 5px 0 0;
	border: 1px #CACACA solid;
}
#scrollUp:before {
	font-style: normal;
	font-family: "iconfont" !important;
	content: "\e623";
	font-size: 28px;
	color: #A8A8A8;
	position: relative;
	line-height: 30px;
}
.topImg nav {
	margin: 1px auto;
	position: relative;
}
.topImg nav #position {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.topImg nav #position li {
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 10px;
	background: #FFFFFF;
	margin: 0 2px;
	cursor: pointer;
	border: 1px #B6B6B6 solid;
}
.topImg nav #position li.on {
	background-color:#E45D29;
}
.topImg article {
	text-align: center;
	padding-bottom: 60px
}
.mt {
	overflow: hidden;
	margin: 15px 0;
	text-align: center;
	font-size: 0;
	margin-bottom: 5px;
}
.mt li {
	display: inline-block;
	overflow: hidden;
	margin-right: 0;
	width: 50%;
	box-sizing: border-box;
	border-bottom: 2px #FFFFFF solid;
	float: left;
}
.mt li a {
	background: #FFFFFF;
	margin-left: 0;
	padding: 5px 15px;
	display: block;
	font-size: 18px;
}
.mt li.active {
	border-bottom: 2px #1686E0 solid;
}
.mt li a.active {
/* background: #55acef; */
	/* color: #fff; */
}
.mtB {
	overflow: hidden;
	margin: 15px 0;
	text-align: center;
	font-size: 0;
	margin-bottom: 0;
	background:#d6e5f9
}
.mtB li {
	display: inline-block;
	overflow: hidden;
	margin: 10px 2px 0 2px;
	box-sizing: border-box;
	background: none;
	border: none;
	border-radius: 5px 5px 0 0;
	box-sizing: border-box;
}
.mtB li a {
	margin-left: 0;
	padding: 2px 15px;
	display: block;
	color: #4183B6;
	font-size: 14px;
}
.mtB li.active {
    border: 1px #BDDCEF solid;
    border-bottom: none;
    background: #fff;
}
.mtB li a.active {
	
color: #4A4A4A;
}
.footer.proFooter {
	background: white;
	width: 100%;
	left: 0;
	border-top: 2px #333 solid;
	text-align: center;
	bottom: 0;
}
.ediPro {
	text-align: center;
	background: #F7F7F7;
	height: 30px;
	line-height: 30px;
}
.ediPro a {
	font-size: 14px;
	vertical-align: middle;
	padding: 10px;
}
.pxItem {
	overflow: hidden;
	border-bottom: 1px #ccc solid;
}
.pxItem a {
	display: block;
	padding: 10px;
	font-size: 12px;
	margin-top: 1px;
}
.item {
	margin-bottom: 5px;
}
.addItem {
	border: 2px #D3D3D3 dotted!important;
}
.addItem:before {
	content: "+"
}
.item a {
	padding: 4px 6px;

	display: inline-block;
	background: #FFF;
	margin: 2px 5px 2px 0;
	color: #000;
	border: 2px #D3D3D3 solid;
}
.item a.sel {
	background: #390;
	color: #fff;
}
.item a.put {
	border: 2px #390 solid;
}
.field-validation-error {
	margin-left: 60px;
	font-size: 12px;
	color: #F12A1A;
	border-top: 1px #F5F5F5 solid;
	display: block;
	margin-top: 2px;
}
.weui_cell_warn .field-validation-error:before {
	color: #F43530;
}
.weui_cell_hd i{font-size:20px;}
.note {
	font-size: 12px;
	position: relative;
	padding: 10px;
	background: #FCFAD7;
	border: 1px #D7D39A solid;
	color:#ffa200
}
.weui_article img {
	width: 100%
}
.field-validation-error:before {
	font-family: weui;
	font-size: 16px !important;
	content: "\EA0B";
	color: #F12A1A;
	margin-right: 5px;
	vertical-align: middle;
}
.dotting {
	display: inline-block;
	min-width: 2px;
	min-height: 2px;
	box-shadow: 2px 0 currentColor, 6px 0 currentColor, 10px 0 currentColor;
	-webkit-animation: dot 0.5s infinite step-start both;
	animation: dot 0.5s infinite step-start both;
 *zoom: expression(this.innerHTML='...');
/* IE7 */
}
.dotting:before {
	content: '...';
}
/* IE8 */

.dotting::before {
	content: '';
}
:root .dotting {
	margin-right: 8px;
}
.cardBox.use{
    background: #F7F7F7;
    border: 1px #B0B0B0 dashed;
}
.cardBox.use .cardBoxL{
    color: #ccc;
}
.cardBox.use .cardBoxR{
	color:#919191;}
.cardBox {
	border: 1px #FA8741 dashed;
	padding: 15px;
	font-size: 0;
	margin-bottom: 15px;
	background: #FFF9F1;
}
.cardBox:last-child {
	margin-bottom: 0;
}
.cardBox .cardBoxL {
	display: inline-block;
	margin-right: 10px;
	height: 45px;
	line-height: 45px;
	font-family: Arial;
	border-right: 1px #ccc dotted;
	padding-right: 10px;
	vertical-align: top;
	color: rgb(255, 61, 0);
	float: left;
}
.cardBox .cardBoxR {
	overflow: hidden;
	font-size: 12px;
	color: rgb(11, 135, 194);
}
.cardBox .cardBoxR span {
	font-size: 16px;
	font-family: arial;
	color: #E7A806;
	margin-right: 10px;
}
.cardBox .cardBoxL span {
	font-size: 35px;
}
.yxq {
	clear: both;
	margin-top: 10px;
	font-size: 13px;
	color: #919191;
}
.cardBox .cardBoxR h1 {
	font-size: 16px;
	margin-bottom: 8px;
}
.cardBox.used {
	background: #f6f6f6;
}
.cardBox.used .yxq {
	background: #E0E0E0;
	color: #808080;
}
.cardBox.used .cardBoxR span {
	color: #969696;
}
.cardBox.used .cardBoxR {
	color: #969696;
}
.cardBox.used .cardBoxL {
	color: #969696;
}
.selCity {
	font-size: 0;
	background: #fff;
	padding: 10px;
}
.selCity h1 {
	font-size: 16px;
	text-align: center;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px #868686 dotted;
}
.selCity h2 {
	font-size: 14px;
	margin-bottom: 10px;
}
.selCity span {
}
.selCity li {
	display: inline-block;
	padding: 5px;
	width: 53px;
	text-align: center;
	margin-bottom: 5px;
	margin-right: 5px;
	background: #fff;
}
.selCity a {
	display: block;
	overflow: hidden;
	padding: 0!important;
	line-height: 20px;
	font-size: 14px;
	color: #000;
}
.search {
	padding: 10px;
}
.viewAll1, .viewAll2 {
	display: block;
	position: relative;
}
.viewAll1:before {
	font-family: "iconfont" !important;
	content: "\e610";
	font-size: 20px;
	width: 30px;
	height: 30px;
	display: block;
	line-height: 30px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 18px;
	margin-left: -15px;
}
.viewAll2:before {
	font-family: "iconfont" !important;
	content: "\e60f";
	font-size: 20px;
	width: 30px;
	height: 30px;
	display: block;
	line-height: 30px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 18px;
	margin-left: -15px;
}
.jquery-accordion-menu ul ul.submenu{
	max-height:210px;
	overflow:hidden;
	overflow-y: auto;}
.maskA {
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	z-index: 999999;
	width: 100%;
	height: 100%;
	top:0
}
.maskA > div img {
	margin-right:10px;
	margin-top:5px;
}
.maskA div:first-child {
	text-align: right;
}
/* IE9+,FF,CH,OP,SF */

@-webkit-keyframes dot {
 25% {
 box-shadow: none;
}
 50% {
 box-shadow: 2px 0 currentColor;
}
 75% {
 box-shadow: 2px 0 currentColor, 6px 0 currentColor;
}
}
 @keyframes dot {
 25% {
 box-shadow: none;
}
 50% {
 box-shadow: 2px 0 currentColor;
}
 75% {
 box-shadow: 2px 0 currentColor, 6px 0 currentColor;
}
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-Webkit-min-device-pixel-ratio: 1), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
 .inline_box {
 letter-spacing: normal;
/*word-spacing: normal;*/
	}
}
 @media (device-height:480px) and (-webkit-min-device-pixel-ratio:2) {
	.inline_box {
	letter-spacing: normal;/*word-spacing: normal;*/
	}
}
 @media (device-height:568px) and (-webkit-min-device-pixel-ratio:2) {
	.inline_box {
	letter-spacing: normal;/*word-spacing: normal;*/
	}
}
 @media all and (-webkit-transform-3d) {
a,  button,  input {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}
}
