<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seed.dao.IBookInfoMapper">
    <resultMap id="BaseResultMap" type="com.seed.entity.book.BookInfo">
        <id column="bid" property="bid" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        bid, title, code, sort
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from seed_book_info
        where bid = #{bid,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from seed_book_info
        where bid = #{bid,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.seed.entity.book.BookInfo">
        insert into seed_book_info (bid, title, code,
        sort)
        values (#{bid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
        #{sort,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.seed.entity.book.BookInfo">
        insert into seed_book_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bid != null">
                bid,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bid != null">
                #{bid,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.seed.entity.book.BookInfo">
        update seed_book_info
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=VARCHAR},
            </if>
        </set>
        where bid = #{bid,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.seed.entity.book.BookInfo">
        update seed_book_info
        set title = #{title,jdbcType=VARCHAR},
        code = #{code,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=VARCHAR}
        where bid = #{bid,jdbcType=INTEGER}
    </update>
</mapper>